/*=================================================================================================================
BASE
/*=================================================================================================================*/

html{
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}


/*=================================================================================================================
ELEMENTS
/*=================================================================================================================*/

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto",serif;
    font-size: 18px;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*=================================================================================================================
COMPONENT
/*=================================================================================================================*/

/*header*/



header{
    background-color: #F26C25;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.logo  {
    display: flex;
    align-items: center;
    gap : 10px
}


a p {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin: 0;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 40px; 
    padding: 0;
}
header nav a {
    color: white;
}

header nav a:hover {
    text-decoration: underline;
}

header li  {

}


nav .footer
{
background-color: black;
}


h4{
    color: white;
}









/*=================================================================================================================
FOOTER
/*=================================================================================================================*/
footer{
    background-color: black;
}