/*=================================================================================================================
BASE
/*=================================================================================================================*/

html{
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}


/*=================================================================================================================
ELEMENTS
/*=================================================================================================================*/

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto",serif;
    font-size: 18px;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*=================================================================================================================
COMPONENT
/*=================================================================================================================*/

/*header*/



header{
    background-color: #F26C25;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.logo  {
    display: flex;
    align-items: center;
    gap : 10px
}


a p {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin: 0;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 40px; 
    padding: 0;
}
header nav a {
    color: white;
}

header nav a:hover {
    text-decoration: underline;
}

/*Section banniere*/

.banniere {
    background-color: #EEEEEE;
}

.banniere .wrapper {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 7.2px;
}


/*Section Transport*/

.titre-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-style: solid;
    border-width: 1px;
    border-color: #D0D0D0;
    background-color: #EEEEEE;
    margin-top: 80px;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

nav .footer
{
background-color: black;
}


h4{
    color: white;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

.conteneur-transport {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

article h3 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0;
}

article p  {
    text-align: center;
}

/*=================================================================================================================
FOOTER
/*=================================================================================================================*/
footer{
   background-color: black;
}

.facebook a  {
    background-image: url("../image/facebook-nb1.jpg");
}
.twitter a  {
    background-image: url("../image/twitter-nb1.jpg");
}

.linkedin a  {
    background-image: url("../image/linkedin-nb1.jpg");
}

.pinterest a  {
    background-image: url("../image/pinterest-nb1.jpg");
}

.facebook a:hover {
    background-image: url("../image/facebook-survol1.jpg");
}
.twitter a:hover {
    background-image: url("../image/twitter-survol1.jpg");
}

.linkedin a:hover  {
    background-image: url("../image/linkedin-survol1.jpg");
}

.pinterest a:hover {
    background-image: url("../image/pinterest-survol1.jpg");
}

footer a {
    display: inline-block;
    width: 32px;
    height: 32px;
}

footer ul  {
    display: flex;
    list-style-type: none;
    gap : 20px;

} 

footer .wrapper  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}