/*=================================================================================================================
BASE
/*=================================================================================================================*/

html{
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}


/*=================================================================================================================
ELEMENTS
/*=================================================================================================================*/

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto",serif;
    font-size: 18px;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}




nav
{
    background-color: #F26C25;
}


nav .footer
{
background-color: black;
}


h4{
    color: white;
}

footer{
    background-color: black;
}